/* CSS Reset by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}



/* Custom CSS by Colin Toomey */

body {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

/* Form styling */
.add-book-form {
    width: 50%;
    height: 50%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #E6E6E6;
}

legend {
    font-size: 2rem;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input#submit {
    color: white;
    background-color: #0B6623;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

input#close {
    color: white;
    background-color: #D21404;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

/* add book button styling */
.new-book-btn {
    color: white;
    background-color: #0041C2;
    border: none;
    border-radius: 10px;
    padding: 4px;
}


/* messages being hidden to begin with and then shown if the user is successful at adding a book or not */

.success,
.failure {
    display: none;
}

.hidden {
    display: none;
}

/* card button styles */

.mark-read-btn {
    color: white;
    background-color: #0B6623;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

.has-been-read-btn {
    color: black;
    background-color: #E6E6E6;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4px;
}

.remove-btn {
    color: white;
    background-color: #D21404;
    border: none;
    border-radius: 10px;
    padding: 4px;
}

/* book card styles */
.book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
    border: 1px solid gray;
    border-radius: 10px;
    width: 75%;
    padding: 1rem;
    gap: 1rem;
}



.book-title {
    margin-bottom: 1rem;
}

.title-and-author {
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-author {
    padding-bottom: 0.5rem;
}

.page-and-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
}

.read-and-remove-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}